header {
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    line-height: 30px;
    background-color: orange;
    height: 100px;
    float: top;
    padding: 15px;
}

nav ul {
    margin-top: 5px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
}

section {
    width: auto;
    height: 400px;
}

.left {
    float: left;
    width: 600px;
}

.right {
    float: right;
    width: 400px;
}



h1 {
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 30px;
    color: blueviolet
}

.hig {
    width: 300px;
    height: 200px;
}

.bor {
    border-color: blue;
    rounded: margin-top
}

.one {
    background-color: brown;
}

.tow {
    text-align: center;
    color: red;
    background-color: aqua;
}

.three {
    text-align: left;
    color: black;
    background-color: blueviolet;
}