footer {
  background-color: black;
  color: white;
  clear: both;
  padding: 5px;
  width: 1903px;
  height: 439px;
  padding: 45px 0;
  display: block;
  box-sizing: border-box;
}
footer .info_contact p {
  margin: 0;
}
footer .info_contact > div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
footer .info_contact > div img {
  margin-right: 30px;
}
footer .sicail-box {
  margin-top: 35px;
  display: flex;
  text-align: left;
  width: 100%;
}

.container button {
  background-color: yellowgreen;
  margin-top: 15px;
}

.trending {
  margin: 65px;
  color: #24d278;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info-logo {
  width: 80%;
  margin: 0 auto 45px auto;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
}

.img-box {
  width: 35px;
  padding: right 20px;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
}

.insta-box {
  display: flex;
  margin: 5px;
  align-items: stretch;
}

h5 {
  margin-bottom: 25px;
  font-size: 24px;
  text-align: left;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

p {
  text-align: left;
}

form {
  margin-top: 0em;
  color: #ffffff;
  text-align: left;
  width: 262, 5px;
  height: 97, 5px;
}

body {
  font-family: "open san", sans-serif;
  color: #090909;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1, 5;
  text-align: left;
}

.img-container {
  width: 555px;
  height: 520, 72px;
}

.hero-area {
  height: 100vh;
  background-image: url("../banghe/menu/hero-side-bg.png");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  width: 70px;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}

.nav-li {
  display: inline;
  list-style-type: none;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.toan {
  color: #24d278;
}/*# sourceMappingURL=sanpham.css.map */